.comfort {
  background-image: url('/images/comfort.png');
}

.learning {
  background-image: url('/images/learning.png');
}

.terror {
  background-image: url('/images/terror.png');
}

.comfort, .learning, .terror {
  padding: 15px;
}

.remove {
  color: lightslategrey;
  padding-left: 20px;
}
