<template name="welcome">
  <div class="hero-unit">
    <h1>Welcome to Learning Grid</h1>
    <p class="lead">Keep track of your learning goals and resources.</p>
  </div>
  <div class="row">
    <div class="span4 text-center">
      <h3 class="text-center">Add goals</h3>
      <p>It's easy to add a topic or field.</p>
      <img src="/images/add_items.png" />
    </div>
    <div class="span4 text-center">
      <h3>Add resources</h3>
      <p>Collect links, tutorials, and notes</p>
      <img src="/images/add_resources.png" />
    </div>
    <div class="span4 text-center">
      <h3>Move goals</h3>
      <p>The more you learn about a topic, the closer you can move it to your comfort zone</p>
      <img src="/images/move_it.png" />
    </div>
  </div>
</template>