body {
  background: url("/images/knitting250px.png");
}

.notes {
  margin-top: 1em;
  width: 55%;
  height: 3em;
}

.item-header {
  border-bottom: solid thin lightgray;
}

.lane {
  text-align: center;
}

.item-btn {
  margin-top: 0.5em;
}

.hidden {
  display: none;
}

.delete-resource {
  color: #666;
  margin-right: 0.75em;
}