body {
  background: url("/images/knitting250px.png");
}

.notes {
  margin-top: 1em;
  width: 55%;
  height: 3em;
}

.item-banner {
  border-bottom: solid thin lightgray;
}

.lane {
  text-align: center;
}

.item-btn {
  margin-top: 0.5em;
}