<template name="itemSubmit">
  <form class="form-inline">
    <input name="title" type="text" placeholder="Title" />
    <input name="description" type="text" placeholder="Description" />
    <select class="form-control" name="category">
      <option value="got-it" >Comfort Zone</option>
      <option value="learn-it" selected="selected">Learning Zone</option>
      <option value="one-day">How the heck?</option>
    </select>
    <input type="submit" value="Submit" class="btn" />
  </form>
</template>