<template name="itemHeader">
  <div class="item-header">
    <h3>
      <span class="item-banner">
        {{title}}
        <small> :{{description}}</small>
        <span class="badge badge-info">
          <span class="glyphicon glyphicon-edit"></span>
        </span>
      </span>
    </h3>
    <p>
      <span class="label label-success toggle-form">
        <small>Add resources</small>
        <span class="glyphicon glyphicon-plus"></span>
      </span>
      <span class="label label-important delete">
        <small>Delete item</small>
        <span class="glyphicon glyphicon-remove"></span>
      </span>
    </p>
  </div>
</template>
